[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
cachetools = "*"
jsonschema = "*"
nose = "*"
coverage = "*"
asyncio = "*"
aiohttp = "*"
aiohttp-retry = "*"

[dev-packages]

[requires]
python_version = "3.7"
